<% provide(:title, "Home | ") %>
<% provide(:pageheader, "Welcome to Volunteer Board") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | Volunteer Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
      

    <div class="main-banner" id="upcoming-events-box">
      <div class="textbox" >
        Upcoming Events:
 <table>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th>Contact phone</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <!-- show the next 8 events -->
    <% (@events.sort_by {|event| event.start_time}[0..7].flatten).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 30.days %>
      <tr>
        <td><a href="/events/<%=event.id%>"><%= event.name %></a></td>
        <td><%= event.start_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.end_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.location %></td>
        <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
        <td>(<%= event.contact_phone[0,3] %>) <%= event.contact_phone[3,3] %>-<%= event.contact_phone[6,4] %></td>
        <td><%= event.contact_email %></td>
    <% end %>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
    <div class="main-banner">
      <div class="box-left">
        <div class="textbox-center">
        Want to contribute to the Poweshiek community? 
        <br>
        <a href="/users/sign_up">Sign up to volunteer! </a></div>
      </div>
      <div class="box-right"> 
        <%= image_tag("volunteer1.jpg", :alt => "vol1", :height=>"100%", :width=>"100%") %>
      </div>
    </div>
    <div class="main-banner">
      <div class="box-right">
        <div class="textbox-center">Are you an organization looking for volunteers? <br> 
        <a href="/organizations/sign_up">Register here and post events!</a></div>
      </div>
      <div class="box-left"> 
        <%= image_tag("vol2.jpg", :alt => "vol2", :height=>"100%", :width=>"100%") %>
      </div>
    </div>
      <div class="textbox-center" id="FAQ-box">
        Questions? Visit our <a href="/faq">FAQ! </a></div>
    </div>
     
     
     
     <!-- DEPENDENT ON LOGIN -->
     
     
      <!-- if a user is signed in displays buttons that link to the events and user profile -->
      <% if user_signed_in? and not current_user.organization %>
      <!-- if an organization is signed in displays buttons that link to the events and organization profile -->
      <% elsif user_signed_in? %>
      <!-- if nobody is logged in displays buttons to the organization sign in and sign up and the user sign in and sign up -->
      <% else %>



  <% end %>
  </body>
</html>
