<div class="input">
<p id="notice"><%= notice %></p>
<div class=margin-sides>
<h1>Events</h1>
<input type="text" name="search" placeholder="Search..">

<p><br></p>

<%= month_calendar events: @events do |date, events| %>
  <%= date.strftime("%e") %>

  <% events.each do |event| %>
    <div>
      <a href="/events/<%=event.id%>"><%= event.name %> <br />
      <%=event.start_time.strftime("%l:%M%p")%>-<%=event.end_time.strftime("%l:%M%p")%></a>
    </div>
  <% end %>
<% end %>

<br>

<h3> Upcoming </h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Number of volunteers needed</th>
      <th>Location</th>
      <th>Contact phone</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (@events.sort_by {|event| event.start_time}).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 14.days %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time.strftime("%A") %>,
            <%= event.start_time.strftime("%B") %>
            <%= event.start_time.day %>,
            <%= event.start_time.year %>,
            <%= event.start_time.strftime("%I") %>:<%= event.start_time.min %>
            <%= event.start_time.strftime("%p") %>
        <td><%= event.end_time.strftime("%A") %>,
            <%= event.end_time.strftime("%B") %>
            <%= event.end_time.day %>,
            <%= event.end_time.year %>,
            <%= event.end_time.strftime("%I") %>:<%= event.start_time.min %>
            <%= event.end_time.strftime("%p") %>
        <td><%= event.num_vols %></td>
        <td><%= event.location %></td>
        <td><%= event.contact_phone %></td>
        <td><%= event.contact_email %></td>
        <td><%= link_to 'View', event %></td>
        <% if organization_signed_in? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if organization_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %> 
</div>
</div>