<style> 

</style>

<% provide(:title, "Events | ") %>
<% provide(:pageheader, "Events") %>
<div class="calendar textbox">



    <!-- displays all the events that the organization has created in calendar form -->

<p><br></p>
<!-- if an organization is signed in it allows for them to create a new event-->
<% if user_signed_in? and current_user.organization %>
  <a class="btn btn-success home-page-button" href="/events/new" role="button">New Event</a>
<% end %>

 <style>
  .hidden {
    display: none
  }
  </style> 
  <input id="toggle-event" type="checkbox" <%= params['view'] == 'week' ? 'checked' : '' %>>
  <div id="console-event"></div>
  <script>
    $(function() {
      $('#toggle-event').change(function() {
        sessvars.view = !sessvars.view
        $('.js-monthly-calendar').toggleClass('hidden')
        $('.js-weekly-calendar').toggleClass('hidden')
      })
    })
  </script>
  <script>
    $(function() {
      $('#toggle-event').bootstrapToggle({
        on: 'Week',
        off: 'Month'
      });
    })
  </script>

  <div class="js-weekly-calendar <%= params['view'] == 'week' ? '' : 'hidden' %>">
    <%= week_calendar events: @events do |date, events| %>
      <%= date.strftime("%e") %>
      <% events.each do |event| %>
        <div>
          <a href="/events/<%=event.id%>"><%= event.name %> <br />
          <%=event.start_time.strftime("%l:%M%p")%>-<%=event.end_time.strftime("%l:%M%p")%></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="js-monthly-calendar <%= params['view'] == 'week' ? 'hidden' : '' %>">
    <%= month_calendar events: @events do |date, events| %>
      <%= date.strftime("%e") %>
      <% events.each do |event| %>
        <div>
          <a href="/events/<%=event.id%>"><%= event.name %> <br />
          <%=event.start_time.strftime("%l:%M%p")%>-<%=event.end_time.strftime("%l:%M%p")%></a>
        </div>
      <% end %>
    <% end %>
  </div>

<br>

<!-- lists the upcoming events in chronological order -->
<h3> Upcoming </h3>



<a class="myToggle" href="javascript:void(0);" divId="Days-7">One Week</a> &nbsp
<a class="myToggle" href="javascript:void(0);" divId="Days-14">Two Weeks</a> &nbsp
<a class="myToggle" href="javascript:void(0);" divId="Days-30">One Month</a> &nbsp
<a class="myToggle" href="javascript:void(0);" divId="Days-90">Three Months</a>



<div class = "Upco" id = "Days-7">
<table>
    <tr>
      <th>Title</th>
      <th class="pc-only">Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th class="pc-only">Number of volunteers needed</th>
      <th>Location</th>
      <th class="pc-only">Contact phone</th>
      <th class="pc-only">Contact email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% (@events.sort_by {|event| event.start_time}).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 7.days %>
      <tr>
        <td><a href="/events/<%=event.id%>"><%= event.name %></a></td>
        <td class="pc-only"><%= event.description %></td>
        <td><%= event.start_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.end_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td class="pc-only"><%= event.num_vols %></td>
        <td><%= event.location %></td>
        <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
        <td class="pc-only">(<%= event.contact_phone[0,3] %>) <%= event.contact_phone[3,3] %>-<%= event.contact_phone[6,4] %></td>
        <td class="pc-only"><%= event.contact_email %></td>
    <% end %>
    <% end %>
  </tbody>
</table>
    </tr>
    </div>

<div class = "Upco" id = "Days-14">
<table>
    <tr>
      <th>Title</th>
      <th class="pc-only">Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th class="pc-only">Number of volunteers needed</th>
      <th>Location</th>
      <th class="pc-only">Contact phone</th>
      <th class="pc-only">Contact email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% (@events.sort_by {|event| event.start_time}).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 14.days %>
      <tr>
        <td><a href="/events/<%=event.id%>"><%= event.name %></a></td>
        <td class="pc-only"><%= event.description %></td>
        <td><%= event.start_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.end_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td class="pc-only"><%= event.num_vols %></td>
        <td><%= event.location %></td>
        <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
        <td class="pc-only">(<%= event.contact_phone[0,3] %>) <%= event.contact_phone[3,3] %>-<%= event.contact_phone[6,4] %></td>
        <td class="pc-only"><%= event.contact_email %></td>
    <% end %>
    <% end %>
  </tbody>
</table>
    </tr>
    </div>


    <div class = "Upco" id = "Days-30">
  <table>
    <tr>
      <th>Title</th>
      <th class="pc-only">Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th class="pc-only">Number of volunteers needed</th>
      <th>Location</th>
      <th class="pc-only">Contact phone</th>
      <th class="pc-only">Contact email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% (@events.sort_by {|event| event.start_time}).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 30.days %>
      <tr>
        <td><a href="/events/<%=event.id%>"><%= event.name %></a></td>
        <td class="pc-only"><%= event.description %></td>
        <td><%= event.start_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.end_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td class="pc-only"><%= event.num_vols %></td>
        <td><%= event.location %></td>
        <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
        <td class="pc-only">(<%= event.contact_phone[0,3] %>) <%= event.contact_phone[3,3] %>-<%= event.contact_phone[6,4] %></td>
        <td class="pc-only"><%= event.contact_email %></td>
    <% end %>
    <% end %>
  </tbody>
</table>
    </tr>
    </div>


    <div class = "Upco" id = "Days-90">
    <table>
    <tr>
      <th>Title</th>
      <th class="pc-only">Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th class="pc-only">Number of volunteers needed</th>
      <th>Location</th>
      <th class="pc-only">Contact phone</th>
      <th class="pc-only">Contact email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% (@events.sort_by {|event| event.start_time}).each do |event| %>
    <% if DateTime.current <= event.start_time and event.start_time <= DateTime.current + 90.days %>
      <tr>
        <td><a href="/events/<%=event.id%>"><%= event.name %></a></td>
        <td class="pc-only"><%= event.description %></td>
        <td><%= event.start_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td><%= event.end_time.strftime("%A, %B, %e, %Y, %l:%M %p") %>
        <td class="pc-only"><%= event.num_vols %></td>
        <td><%= event.location %></td>
        <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
        <td class="pc-only">(<%= event.contact_phone[0,3] %>) <%= event.contact_phone[3,3] %>-<%= event.contact_phone[6,4] %></td>
        <td class="pc-only"><%= event.contact_email %></td>
    <% end %>
    <% end %>
  </tbody>
</table>
    </tr>
    </div>

 <script>
  $(".Upco").hide();
$(".myToggle").bind("click", function() {
    $(".Upco").hide();
    var divId= $(this).attr("divId");
    $("#" + divId).show();
});
</script>

</div>
