<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%A") %>,
  <%= @event.start_time.strftime("%B") %>
  <%= @event.start_time.day %>,
  <%= @event.start_time.year %>,
  <%= @event.start_time.strftime("%I") %>:<%= @event.start_time.min %>
  <%= @event.start_time.strftime("%p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%A") %>,
  <%= @event.end_time.strftime("%B") %>
  <%= @event.end_time.day %>,
  <%= @event.end_time.year %>,
  <%= @event.end_time.strftime("%I") %>:<%= @event.start_time.min %>
  <%= @event.end_time.strftime("%p") %>
</p>

<p>
  <strong>Number of volunteers needed:</strong>
  <%= @event.num_vols %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @event.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @event.contact_email %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
