<p id="notice"><%= notice %></p>
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <a href="/" class="btn btn-success profile-button" role="button">Go Home</a>
           <a href="/events" class="btn btn-success profile-button" role="button">View Other Events</a>
       <br>
     </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2> Event</h2>
  <div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading"><%= @event.name %> needs <%= @event.num_vols - (@event.volunteer_count ||= 0) %> volunteers </div>
      <div class="panel-body">
        <p>    
        
        
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time.strftime("%A") %>,
            <%= @event.start_time.strftime("%B") %>
            <%= @event.start_time.day %>,
            <%= @event.start_time.year %>,
            <%= @event.start_time.strftime("%I") %>:<%= @event.start_time.strftime("%M") %>
            <%= @event.start_time.strftime("%p") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time.strftime("%A") %>,
            <%= @event.end_time.strftime("%B") %>
            <%= @event.end_time.day %>,
            <%= @event.end_time.year %>,
            <%= @event.end_time.strftime("%I") %>:<%= @event.end_time.strftime("%M") %>
            <%= @event.end_time.strftime("%p") %>
</p>

<p>
  <strong>Number of Volunteers Needed:</strong>
  <%= @event.num_vols %>
</p>

<p>
  <strong>Number of Volunteers Currently Signed Up:</strong>
  <% @event.volunteer_count ||= 0 %>
  <%= @event.volunteer_count %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Contact Phone:</strong>
  <%= @event.contact_phone %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @event.contact_email %>
</p>


<% if user_signed_in? %>
  <% if @event.users.any? {|u| u.id == current_user.id} %>
    <%= link_to "Deregister for Event", "/events/deregister/#{@event.id}" %>
  <% else %>
    <%= link_to "Register for Event", "/events/sign_up/#{@event.id}" %>
  <% end %>
<% end %>

<p>
<%= link_to 'Edit Event', edit_event_path(@event) %>
</p>
      </div>
    </div>