<% provide(:title, @event.name+ " | ") %>

<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
  <a href="/" class="btn btn-success profile-button" role="button">Go Home</a>
  <a href="/events" class="btn btn-success profile-button" role="button">View Other Events</a>
  <% if organization_signed_in? && current_organization.id == @event.organization_id %>
    <a href="/events/<%=@event.id%>/edit" class="btn btn-success profile-button" role="button">Edit Event</a>
  <%end%>
  <br>
</div>

<div class="container">
  
  <h2><%= @event.name %></h2>
  <div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading"><%= @event.name %> needs <%= @event.num_vols - (@event.users.size) %> volunteers </div>
      <div class="panel-body">
           
        
<!-- Displays the information for the event -->
<p> 
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start Time:</strong>
            <%= @event.start_time.strftime("%A, %B %e, %Y, %l:%M%p")%>
</p>

<p>
  <strong>End Time:</strong>
            <%= @event.end_time.strftime("%A, %B %e, %Y, %l:%M%p")%>
</p>

<p>
  <strong>Number of Volunteers Needed:</strong>
  <%= @event.num_vols - @event.users.size %>
</p>

<p>
  <strong>Number of Volunteers Currently Signed Up:</strong>
  <%= @event.users.size %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Contact Phone:</strong>
  <!-- breaks the contact_phone into three pieces so that "1234567890" is displayed as (123)456-7890 -->
  (<%= @event.contact_phone[0,3] %>) <%= @event.contact_phone[3,3] %>-<%= @event.contact_phone[6,4] %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @event.contact_email %>
</p>

<!-- Determines if the user currently signed in has signed up for the event aready. If they have it gives them the option to deregister and if they havnt it gives them the option to register. -->
<% if user_signed_in? %>
  <% if @event.users.any? {|u| u.id == current_user.id} %>
    <%= link_to "Deregister from Event", "/events/deregister/#{@event.id}" %>
  <% else %>
    <%= link_to "Register for Event", "/events/sign_up/#{@event.id}" %>
  <% end %>
<% end %>
      </div>
    </div>