<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @welcome.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @welcome.login %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
