<p id="notice"><%= notice %></p>
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <a href="/" class="btn btn-success profile-button" role="button">Go Home</a>
           <a href="/events" class="btn btn-success profile-button" role="button">View Events</a>
       <br>
      </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 
<div class="container">
  <h1>Profile</h1>
  <div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading"> <%= @user.first_name %> </div>
      <div class="panel-body">

<!-- ensures that either the user who's profile it is or an organization are the ones trying to view the profile -->
<% if (user_signed_in? && @user.id == current_user.id) || organization_signed_in? %>
  <p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </p>

  <!-- hides the information that is private from organizations if the user has marked private -->
  <% if !@user.private || (user_signed_in? && @user.id == current_user.id)%>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>
  
    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>
  
    <p>
      <strong>State:</strong>
      <%= @user.state %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= @user.zip_code %>
    </p>
  
    <p>
      <strong>Phone:</strong>
      (<%= @user.phone_number[0,3] %>) <%= @user.phone_number[3,3] %>-<%= @user.phone_number[6,4] %>
    </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <p><br></p>
  
  
    <% end %>
  <% end %>
  
  <!-- if this is the current user's profile displays a calendar with only event they've signed up for and a link to allow them to edit their profile -->
  <% if (user_signed_in? && @user.id == current_user.id) %>
    <h2> <%= @user.first_name%>'s Event Calendar</h2>
    <%= month_calendar events: @events do |date, events| %>
    <%= date.strftime("%e") %>
  
    <% events.each do |event| %>
      <div>
        <a href="/events/<%=event.id%>"><%= event.name %> <br />
        <%=event.start_time.strftime("%l:%M%p")%>-<%=event.end_time.strftime("%l:%M%p")%></a>
      </div>
  <% end %>
<% end %>
    <p>
      <%= link_to 'Edit Profile', edit_user_registration_path(@user) %>
    </p>

<% else %>
  <p>
    I'm sorry, this is the wrong profile, 
    lease click the button below to go to your profile
  </p>
  
  <% if user_signed_in? %>
    <a class="btn btn-success home-page-button" href="/users/<%=current_user.id%>" role="button">View Profile</a>
  <% end %>
    
<% end %>
    </div>