</br>
<div class="center-form">
  <h2>Organization Sign up</h2>
</div>

</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="center-form width-med">   <!-- Center-->
  <div style="text-align: left;">     <!-- Left-Align-->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  </br>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  </br>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  </br>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, [ "Alabama", "Arkansas", "Arizona", "Alaska", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"  ], :selected => "Iowa"%>
</select>
  </div>
  </br>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  </br>

  <div class="field">
    <%= f.label :phone %><br />
     <%= f.text_field :phone %>
  </div>
  </br>
 
  <div class="field">
    <%= f.label :mission %><br />
    <%= f.text_area :mission, rows: 4, cols: 55, class: "width-med"%> 
  </div>
  </br>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, placeholder: "https://www.website.com" %>
  </div>
  </br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  </br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </br>
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  </br>
<% end %>

Already have an account?
<%= render "organizations/shared/links" %>
</br></br></br></br></br></br>
</div>
</div>