<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip-code</th>
      <th>Phone-number</th>
      <th>Email</th>
      <th>Mission</th>
      <th>Website</th>
      <th>Password</th>
      <th>Confirm-password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.address %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zip-code %></td>
        <td><%= organization.phone-number %></td>
        <td><%= organization.email %></td>
        <td><%= organization.mission %></td>
        <td><%= organization.website %></td>
        <td><%= organization.password %></td>
        <td><%= organization.confirm-password %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
