<p id="notice"><%= notice %></p>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="https://volunteer-board-tylerdamonwill.c9users.io/" >Go Home</A>
       <br>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">  <%= @organization.name %> </h3>
            </div>
            <div class="panel-body">
              <div class="row">
<p>    
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @organization.mission %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Password:</strong>
  <%= @organization.password %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @organization.confirm %>
</p>
</div>
 <a href="/organizations/1/edit" class="btn btn-primary">Edit</a>
                  <a href="/events" class="btn btn-primary">View Events</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
