<!DOCTYPE html>
<html>

<p id="notice"><%= notice %></p>


<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
<table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% (@organizations.order(:name)).each do |organization| %>
      <tr>
        <td><a href=<%="organizations/#{organization.id}"%>><%= organization.name %></a></td>
        <td><%= organization.address %></td>
        <td>
            <%= organization.city %>,
            <%= organization.state %>
        </td>
        <td><%= organization.phone %></td>
        <td><%= organization.email %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
</html>