<p id="notice"><%= notice %></p>
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <a href="/" class="btn btn-success" role="button">Go Home</a>
           <a href="/events" class="btn btn-success" role="button">View Events</a>
       <br>
     </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Profile</h2>
  <div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading"> <%= @organization.name %> </div>
      <div class="panel-body">
        <p>    
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @organization.mission %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<% if organization_signed_in? && current_organization.id == @organization.id %>
  <p>
    <%= link_to 'Edit Profile', edit_organization_registration_path(@organization) %>
  </p>
<% end %>
      </div>
    </div>