<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
<<<<<<< HEAD
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
=======
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value.html_safe %></div>
>>>>>>> cb4ed12feb185ae09c015c27b7af252998583bb6
    <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>