<% provide(:title, "Edit Profile | ") %>
<div class="center-form">
  </br>
  <h2>Edit Volunteer Profile</h2>
</div>

</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="center-form width-med">
  <div style="text-align: left;">

<% if current_user.organization %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  </br>

<% else %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  </br>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  </br>

<% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  </br>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  </br>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  </br>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  </br>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  </br>

<% if current_user.organization %>

  <div class="field">
    <%= f.label :mission %><br />
    <%= f.text_area :mission, rows: 4, cols: 55, class: "width-med" %>
  </div>
  </br>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  </br>

<% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  </br>
  
  <%= render :partial => 'layouts/skill' %>
  <div class="field"> <font color="red">*</font>
    <%= f.label :skills %><br />
    <%= f.text_field :skills, :value => "" %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#skillModal">Add Skills</button> </br></br>
  </div>
  </br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> </br><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  </br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </br>

<% if not current_user.organization %>

  (If you choose to have a private account, only your name
  </br>
and email will be available to organizations)
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  </br>

<% end %>

  <div class="field">
    <%= f.label :current_password %> </br><i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  </br>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

</br>

<p>No longer require an account? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
